<div id="social">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-2 col-xs-2 col-md-2 col-sm-2">
					<a href="http://facebook.com/phquanit"><i class="fa fa-facebook"></i></a>
				</div>
				<div class="col-lg-2 col-xs-2 col-md-2 col-sm-2">
					<a href="skype:quan.infotech?chat"><i class="fa fa-skype"></i></a>
				</div>
				<div class="col-lg-2 col-xs-2 col-md-2 col-sm-2">
					<a href="http://instagram.com/quandev"><i class="fa fa-instagram"></i></a>
				</div>
			
			</div><! --/row -->
		</div><! --/container -->
	</div><! --/social -->

	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-4 col-md-4 col-xs-4">
					<p><b>WEB DEVELOPER & PHOTOGRAPHER</b></p>
				</div>
			
				<div class="col-lg-4 col-md-4 col-xs-4">
					<p>Living in Ha Noi, Viet Nam.</p>
				</div>
				<div class="col-lg-4 col-md-4 col-xs-4">
					<p>quan.infotech@gmail.com</p>
				</div>
			</div>
		</div>
	</div><! --/footerwrap -->
  </body>
</html>